

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    position: relative;
    overflow: hidden;
  }
  
  .auth-box {
    /*background-color: white;*/
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 400px;
    text-align: center;
    position: relative; /* Ensure it's above the image */
  z-index: 1; /* Make sure the box is on top of the image */
  }
  
  .auth-box h2 {
    margin-bottom: 20px;
  }
  
  .auth-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-box button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-box button:hover {
    background-color: #333;
  }
  
  .auth-box p {
    margin-top: 10px;
  }
  
  .auth-box a {
    color: #007bff;
  }
  
  .auth-box a:hover {
    text-decoration: underline;
  }
  
  .logo-placeholder {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    background-color: #ddd;
    border-radius: 50%;
  }
  
  .auth-image {
    position: absolute; /* Absolute positioning for the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* Place image below the form */
    opacity: 0.8; /* Slight transparency to enhance visibility */
    /* Slight transparency to enhance visibility of the box */
    filter: blur(1px); /* Slight blur effect to give focus to the form */
  }

  @media (max-width: 576px) {
    .auth-box {
        width: 90%;
        max-width: 100%; /* On smaller devices, make the box responsive */
    }}