

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .auth-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .auth-box h2 {
    margin-bottom: 20px;
  }
  
  .auth-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-box button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-box button:hover {
    background-color: #333;
  }
  
  .auth-box p {
    margin-top: 10px;
  }
  
  .auth-box a {
    color: #007bff;
  }
  
  .auth-box a:hover {
    text-decoration: underline;
  }
  
  .logo-placeholder {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    background-color: #ddd;
    border-radius: 50%;
  }
  