.App {
  text-align: center;
}
.main-layout {
  display: flex;
  min-height: calc(100vh - 100px);
}


aside {
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
}

main {
  flex: 1;
  padding: 20px;
}

header, footer {
 
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 60px

}